html, body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.title {
  background: #60A5FA;
  height: 2rem;
  line-height: 2rem;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.swiperWapper {
  height: 10.5rem;
  width: 100%;
}

.swiperContent {
  color: #999999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 100%;
  flex-wrap: wrap;
  user-select: none;
}

.swiperItemName {
  font-size: 14px;
  width: 100%;
  margin: .5rem 0;
  height: 100%;
}

.newContent, .herosContent {
  background-color: #fff;
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  box-sizing: border-box;
}

.herosContent { 
  margin-top: 0.5rem;
}

.herosSwiperContent {
  color: #999999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 100%;
  flex-wrap: wrap;
  user-select: none;
}

.herosItemWapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  align-items: center;
  margin-top: .5rem;
}

.herosImg {
  width: 5rem;
  height: 5rem;
  margin-right: 0.35rem;
  overflow: hidden;
  margin-bottom: 0.28rem;
}