html, body {
  margin: 0;
  padding: 0;
}

.title {
  background: #60A5FA;
  height: 2rem;
  line-height: 2rem;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.swiperWapper {
  height: 10.5rem;
  width: 100%;
}
